<!-- Our_vision_sec open -->
<div class="our_vision_sec">
    <div class="container">
        <h3 data-aos="fade-up">Our Vision</h3>
        <h2 data-aos="fade-up">Connecting Everyone to web3 Technology</h2>
        <div class="image" data-aos="fade-up">
            <img src="./assets/images/logo.png" alt="" />
        </div>
        <h5 data-aos="fade-up">Founded in</h5>
        <h4 data-aos="fade-up">2019</h4>
        <div class="button" data-aos="fade-up">
            <a href="#" class="common-btn"><span>About Us</span></a>
        </div>
    </div>
</div>
<!-- Our_vision_sec end -->
