<!-- Banner open -->
<div class="home_banner">
    <div class="container">
        <div class="top_block">
            <div class="lt_block" data-aos="fade-right">
                <div class="image">
                    <img src="./assets/images/logo.png" alt="" />
                </div>
                <h1>The Financial Platform</h1>
                <h3>Converting fiat to web3 money</h3>
                <ul>
                    <li>Buy/sell crypto and accept crypto payments</li>
                    <li>Buy crypto with lowest processing fees</li>
                </ul>
            </div>
            <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="100000" class="rt_block">
                <img src="./assets/images/mobile-img01.png" alt="" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="mid_block">
            <a href="#" class="ca3-scroll-down-link ca3-scroll-down-arrow" data-ca3_iconfont="ETmodules" data-ca3_icon=""><img src="./assets/images/down-arrow01.png" alt="" /></a>
        </div>
        <div class="bottom_block">
            <h2 data-aos="fade-up">Get this App</h2>
            <ul data-aos="fade-up">
                <li><img src="./assets/images/download-app-img01.png" alt="" /></li>
                <li><img src="./assets/images/QR-code-img01.png" alt="" /></li>
                <li><img src="./assets/images/google-play-img01.png" alt="" /></li>
            </ul>
            <h3 data-aos="fade-up">Scan the QR Code here to Download app</h3>
        </div>
    </div>
</div>
<!-- Banner end -->
