<!-- Team_sec open -->
<div class="team_sec">
    <div class="container">
        <div class="top">
            <h2 data-aos="fade-up">Our Team</h2>
            <p data-aos="fade-up">Meet Our Executive Team Members</p>
        </div>
        <div class="bottom" data-aos="fade-up">
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="image">
                            <img src="./assets/images/team-member-img01.jpg" alt="" />
                        </div>
                        <h3>Mr. Amit Singh</h3>
                        <h6>- Founder & CEO -</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="image">
                            <img src="./assets/images/team-member-img02.jpg" alt="" />
                        </div>
                        <h3>Mr. Mayank Kumar</h3>
                        <h6>- IT Head -</h6>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="image">
                            <img src="./assets/images/team-member-img03.jpg" alt="" />
                        </div>
                        <h3>Mr. Dummy Text</h3>
                        <h6>- Business Analytics -</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="button" data-aos="fade-up">
            <a href="#" class="common-btn"><span>See All Members</span></a>
        </div>
    </div>
</div>
<!-- Team_sec end -->
