<!-- Join_sec open -->
<div class="join_sec">
    <div class="container">
        <div class="upper">
            <h2 data-aos="fade-up">It's easy to join Fynzon</h2>
            <p data-aos="fade-up">Starts creating your portfolio today with 4 easy steps</p>
        </div>
        <div class="lower" data-aos="fade-up">
            <ul>
                <li><h4><span><img src="./assets/images/icon-img01.png" alt="" /></span> Register</h4></li>
                <li><h4><span><img src="./assets/images/icon-img02.png" alt="" /></span> Complete KYC</h4></li>
                <li><h4><span><img src="./assets/images/icon-img03.png" alt="" /></span> Make Deposit</h4></li>
                <li><h4><span><img src="./assets/images/icon-img04.png" alt="" /></span> Place an Order</h4></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Join_sec end -->
