<!-- Pay_sec Start -->
<div class="pay_sec">
    <div class="container">
        <div class="block">
            <div class="row">
                <div class="col-md-6">
                    <div class="image" data-aos="fade-left" data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                        <img src="./assets/images/mobile-img03.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text" data-aos="fade-right">
                        <h2>Fynzon Pay</h2>
                        <h3>Platform for seamless transaction</h3>
                        <p>Participate in immediate transfer of fund using web3 based technologies</p>
                        <p>Accept online payments from across all channels and devices, through a single processing platform</p>
                        <div class="button">
                            <a href="#" class="common-btn"><span>Go to Fynzon Pay</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="row">
                <div class="col-md-6">
                    <div class="image" data-aos="fade-right" data-aos-offset="300"
                    data-aos-easing="ease-in-sine">
                        <img src="./assets/images/tab-img01.png" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text" data-aos="fade-left">
                        <h2>Markzon</h2>
                        <p>E-commerce powered by web3 based technologies Buy and sell selected brand products with the efficiency and feature of web3 based solutions that rewards, facilitates, and improves both user and seller experience</p>
                        <div class="button">
                            <a href="#" class="common-btn"><span>Go to Fynzon Pay</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pay_sec End -->
